@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Martel Sans", sans-serif;
}
.main{
    background-image: url("assets/images/pg.jpg");
    height: 100vh;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1800px, 100vw);
    
}
nav{
    width: 80vw;
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: space-between;
    position: relative;
    top: 16px;
    height: 65px;
}
nav img{
    position: relative;
    z-index: 10;
}
.button button{
    position: relative;
    z-index: 10;
}
.button .but1{
    padding: 5px ;
    background-color: transparent;
    border: 1.5px solid white;
    border-radius: 5px;
    color: white;
}
.button .but2{
    padding: 4px 15px ;
    background-color: transparent;
    border: 1.5px solid red;
    border-radius: 5px;
    color: white;
    background-color: red;
}

body{
    background-color: black;
}
.dark{
    background-color: black;
    height: 100vh;
    width: 100%;
    opacity: 0.7;
    position: absolute;
    top: 0;
}
.hero{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    position: relative;
    top: 0px;
    z-index: 10;
    gap: 23px;
    padding: 0px 30px;
}
.hero>:first-child{
    font-weight: 900;
    font-size: 48px;
    text-align: center;
}
.hero >:nth-child(2){
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}
.hero> :nth-child(3){
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}
.break{
    width: 100%;
    height: 8px;
    position: relative;
    z-index: 10;
    background-color: rgb(57, 56, 56);
}
.container{
    width: 80vw;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text span{
    color: white;
    text-align: center;
}
 .media{
    position: relative;
}
 .media img{
    width: 555px;
    position: relative;
    z-index: 10;
   
}
 .media video{
    position: absolute;
    right: 14%;
    top: 88px;
    width: 400px;
}
#medvid{
    position: absolute;
    top: 37px ;
    width: 340px;
    right: 19%;
}
.text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.text span:first-child{
    font-size: 48px;
    font-weight: 900;
}
.text span:nth-child(2){
    font-size: 24px;
    font-weight: 400;
}
.text span:nth-child(3){
    font-size: 24px;
    font-weight: 400;
}
@media only screen and (max-width: 970px) {
    .container{
        flex-direction: column;
        text-align: center;
        padding: 15px 5px;
    }
}
.boxes{
    display: flex;
    align-items: center;
    justify-content: center;
   height: fit-content;
    flex-direction: column;
}
.faq_qus{
    display: flex;
    justify-content: center;
    top: 20px;
    position: relative;
}
.faq{
    height: fit-content;
}
.box{
    position: relative;
    padding: 20px;
    margin: 5px;
    top: 50px;
    background-color: rgba(128, 128, 128, 0.35);
    height: 40px;
    width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}
.box p{
    font-size: larger;
}
.box:hover{
    background-color: rgba(128, 128, 128, 0.5);
}
.faq .input{
    position: relative;
    bottom: -60px;
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}
/* email address */
.email{
    padding: 10px 50px;
    background-color: black;
    opacity: 0.7;
    border: 1px solid wheat;
    
}
.start{
    margin-left: 10px;
    background-color: red;
    padding: 10px;
    border-radius: 5px;
}
.hero .start{
    align-items: center;
}
.fa-solid .fa-plus{
    font-size: xx-large;
    font-weight: bolder;
}
.fa-xmark{
    position: absolute;
    right: 20px;
    top: 25px;
}
.hid{
    display: none;
    overflow: hidden;
    height: fit-content;
}